.lista_tarefas {
  color: #ffffff;
  background-color: #292929;
  padding: 1rem;
  margin-top: 16px;
  border-radius: 15px;
}

.task_title {
  font-size: 1.3rem;
  margin-bottom: 16px;
  margin-top: 16px;
}

.task_ul {
  max-height: 350px;
  overflow-y: scroll;
  scrollbar-width: thin;
}



.itemCompletado {
  background-color: #566F42;
  cursor: auto;

  .concluido {
    display: block;
    background-image: url('../../assets/img/check-mark.svg');
    background-repeat: no-repeat;
    background-size: 38px 38px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 42px;
    height: 43px;
  }
}

@media screen and (min-width:1280px) {

  h2{
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 24px;
  }

  ul {
    overflow: auto;
    max-height: 500px;
  }
}