.item {
  background-color: #4D4D4D;
  border-radius: 8px;
  box-shadow: 2px 4px 4px #0000009F;
  padding: 12px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}

item_title {
  margin-bottom: 8px;
  word-break: break-all;
}

item_tempo {
  color: #D0D0D0;
}

@media screen and (min-width:1280px) {
  .item{
    font-size: 1.8rem;
  }
}